/* main styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img,
textarea {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --checkbox-bg: #404bbf;
  --icon-color: #f4f4fd;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

/* Header */
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .head-logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .head-logo {
    margin-right: 76px;
  }
}

.logo-part {
  color: #2e2f42;
}

.nav-list,
.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    column-gap: 40px;
  }

  .contacts {
    display: flex;
    column-gap: 18px;
    font-style: normal;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav-item {
  display: block;
  text-decoration: none;
  position: relative;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contact-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-item.active {
    color: #404bbf;
  }

  .nav-item.active:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    background: #404bbf;
    content: "";
  }
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    row-gap: 12px;
    flex-direction: column;
  }
}

@media screen and (min-width: 1158px) {
  .contacts-list {
    display: flex;
    column-gap: 40px;
    flex-direction: row;
  }
}

.nav-item:focus,
.contact-link:focus {
  color: #404bbf;
  outline: none;
}

@media screen and (min-width: 1158px) {
  .nav-item:hover,
  .contact-link:hover {
    color: #404bbf;
    outline: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    stroke: #111111;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }
}

/* Hero */
.hero {
  background: #2e2f42;
  color: #fff;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-tablet.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1158px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-desktop.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-desktop@2x.jpg);
  }
}

.hero .container {
  text-align: center;
}

.hero.section {
  padding: 72px 0;
}

@media screen and (min-width: 768px) {
  .hero.section {
    padding: 112px 0;
  }
}

@media screen and (min-width: 1158px) {
  .hero.section {
    padding: 188px 0;
  }
}

.hero-title {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-btn {
  display: block;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  background: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.hero-btn:focus {
  background-color: #404bbf;
  outline: none;
}

@media screen and (min-width: 1158px) {
  .hero-btn:hover {
    background-color: #404bbf;
    outline: none;
  }
}

/* Features */
.features-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.icon-wrapper {
  display: none;
}

@media screen and (min-width: 1158px) {
  .icon-wrapper {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
  }
}

.feature-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .feature-item-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .feature-item-title {
    font-weight: 500;
    font-size: 20px;
  }
}

.feature-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 1158px) {
  .feature-text {
    font-weight: 400;
  }
}

/* Team */
.team {
  background: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 72px;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
}

.member {
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  text-align: center;
}

.member-info-wrapper {
  padding: 32px 0;
}

.member-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.member-text {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.social-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon {
  fill: #f4f4fd;
}

.team .social-list-link:focus {
  background-color: #404bbf;
  outline: none;
}

@media screen and (min-width: 1158px) {
  .team .social-list-link:hover {
    background-color: #404bbf;
    outline: none;
  }
}

/* Portfolio */
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
}

.portfolio-image-box {
  position: relative;
  overflow: hidden;
}

.portfolio-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.portfolio-info-wrapper {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

.overlay-text {
  display: none;
}

@media screen and (min-width: 1158px) {
  .overlay-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-item:hover .overlay-text {
    transform: translateY(0);
  }
}

/* Footer */
.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 108px;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer .container {
    flex-wrap: nowrap;
    padding-left: 15px;
  }
}

.footer-text-box {
  max-width: 288px;
}

.footer-text-box,
.footer-social-wrapper {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-text-box,
  .footer-social-wrapper {
    text-align: start;
  }

  .footer-text-box {
    max-width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-text-box {
    margin-right: 120px;
  }

  .footer-social-wrapper {
    margin-right: 80px;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.foot-logo-part {
  color: #f4f4fd;
}

.footer-text {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.social-link-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-wrapper .social-list {
  gap: 16px;
}

.social-list-link:focus {
  background-color: #31d0aa;
  outline: none;
}

@media screen and (min-width: 1158px) {
  .social-list-link:hover {
    background-color: #31d0aa;
    outline: none;
  }
}

.subscribe-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .subscribe-wrapper {
    align-items: start;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
}

.subscribe-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;

  font-size: 12px;
  padding-left: 16px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: none;
  color: #ffffff;
  transition: border-color 250ms linear;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-input:focus {
  border-color: #4d5ae5;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 24px;
  max-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  fill: #ffffff;
}

.subscribe-icon {
  margin-left: 16px;
}

.subscribe-btn:focus {
  background-color: #404bbf;
  outline: none;
}

@media screen and (min-width: 768px) {
  .subscribe-btn:hover {
    background-color: #404bbf;
    outline: none;
  }
}

/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 584px;
  min-width: 288px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

@media screen and (min-width: 1158px) {
  .modal-close-btn:hover {
    border: none;
    background-color: #404bbf;
    fill: #ffffff;
  }
}

.review-form-slogan {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-textarea-wrapper {
  margin-bottom: 16px;
}

.review-form-field-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  letter-spacing: -0.02em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  stroke-width: 1px;
  stroke: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus,
.review-form-message:focus {
  border-color: #4d5ae5;
}

.review-form-input:focus + .review-form-field-icon {
  stroke: #4d5ae5;
  fill: #4d5ae5;
}

.review-form-message {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.review-form-policy-label {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy-link {
  line-height: 1.33;
  white-space: nowrap;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.review-form-policy-text {
  display: inline;
  align-items: center;
}

.review-form-policy-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 16px;
  min-height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-policy-checkbox:checked
  + .review-form-policy-label
  .review-form-policy-custom-checkbox {
  background-color: var(--checkbox-bg);
  border: none;
  fill: var(--icon-color);
}

.review-form-policy-checkbox:focus
  + .review-form-policy-label
  .review-form-policy-custom-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-submit-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.privacy-policy-link:focus {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.review-form-submit-btn:focus {
  background-color: #404bbf;
  outline: none;
}

@media screen and (min-width: 768px) {
  .review-form-submit-btn:hover {
    background-color: #404bbf;
    outline: none;
  }
}

/* Mobile Menu */
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    max-width: 320px;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 24px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-menu-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-close-btn:focus {
    border: none;
    background-color: #404bbf;
    fill: #ffffff;
  }

  .mobile-menu-nav-item-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-nav-item-link.active {
    color: #404bbf;
  }

  .mobile-menu-nav-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu-nav-list {
    margin-bottom: 168px;
  }

  .mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobile-menu-contacts {
    font-style: normal;
  }

  .contact-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-link:focus,
  .mobile-menu-nav-item-link:focus {
    color: #404bbf;
  }

  .mobile-menu-social-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-list-link:focus {
    background-color: #31d0aa;
    outline: none;
  }
}
